* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 5%;
  background-color: rebeccapurple;
}

.mainbox {
  display: flex;
  height: 95%;
}

.firstbox {
  width: 40%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstbox h1 {
  height: 50px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 2px;
}

.hero button {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.del {
  grid-column: 1 / span 4 !important;
  width: 100% !important;
}

.secondbox {
  width: 60%;
  height: 100%;
  background-color: greenyellow;
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo div {
  display: flex;
}
